body {
    background-color: #5d79ae;
}


header {
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-family: otsikko, "britannic";
    font-size: 35px;
    color: #de9b35;
    text-align: center;
    padding-top: 30px;
}

p {
    font-family: Verdana;
    font-size: 20px;
}

/*alatunniste, joka sivulla sama*/
footer {
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color: rgba(87, 54, 4);
    background-color: #c7d5e0;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

a.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #0c0f12;
    color: #de9b35;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    flex-direction: row;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 15%;
}