body {
    background-color: #5d79ae;
}


header {
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-family: otsikko, "britannic";
    font-size: 35px;
    color: #de9b35;
    text-align: center;
    padding-top: 30px;
}

p {
    font-family: Verdana;
    font-size: 20px;
}

/*alatunniste, joka sivulla sama*/
footer {
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color: rgba(87, 54, 4);
    background-color: #c7d5e0;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}