body {
    background-color: #5d79ae;
}

header {
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-family: Britannic;
    color: #de9b35;
}

p {
    font-family: Verdana;
    font-size: 20px;
}

<style> {
    box-sizing: border-box;
}

body {
    font-family: verdana;
}

footer {
    background-color: #c7d5e0;
    padding: 10px;
    text-align: center;
    color: #0c0f12;
}

</style>